body {
    padding: 0 150px;
    display:flex;
    flex-flow: column wrap;
    
}
header, footer, .p1, .p2, .p3, .p4 {
    margin: 0;
    flex:1;
}
     
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    gap: 15px;
    color: #e5e7eb;
    background-color:#1f2937;
    size: 18px;
    padding: 15px;
    margin: 0;
}
.header .header-logo {
    margin-right:auto;
    font-size: 24px;
    color: #f9faf8;
}

.p1 {
    background-color: #1f2937;
    display:flex;
    padding: 80px 125px;
    justify-content: space-between;
 }
.p1-left-list {
    display: flex;
    flex-direction: column;
    gap:15px;
    list-style-type: none;
}
.p1-left-title {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
    

}
.p1-left-par {
    font-size: 18px;
    color: #e5e7eb;
    
}

 .p1-button {
    padding: 5px;
    margin-top: 10px;
    color:#e5e7eb;
    background-color: #3882f6;
    font-size: 22px;
    border-radius: 10px;
 }
 .p2 {
    padding:50px;
 }
 .p2 h2{
font-size: 32px;
font-weight: 900;
text-align: center;
 }
    
 
.photos {
    display: flex;
    list-style-type: none;
    text-align: center;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.li-photos {
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;

}
 .p3 {
    display: flex;
    flex-direction: column;
    padding:50px;
    background-color: #e5e7eb;


 }
.p3-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.p3-signature {
    align-self: flex-end;
}
.p4 {
    padding: 120px;

}
.p4-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding:30px;
}


.p4-left {
    list-style-type: none;
}
.p4-button {
    padding: 5px;
    margin-top: 10px;
    color:#e5e7eb;
    background-color: #3882f6;
    font-size: 22px;
    border-radius: 10px;
    border-color: #e5e7eb;
 }
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding:10px;
}
